.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movie-item {
    background-color: #2c2c2c;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.movie-details {
    margin-top: 10px;
    color: #fff;
}

    .movie-details h3 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .movie-details p {
        margin: 5px 0;
    }